#!/bin/bash

######################
### Bypass Options ###
######################
bypass_madgraph=false
bypass_pythia=false
bypass_preprocessing=false
bypass_train=false

##################################
### Dataset Generation Options ###
##################################
process="U"
MG_tag="${process}_10k_debug_gen"
num_runs=10
num_events_per_run="1k"
max_cpu_cores=10
seed=12

#############################
### Preprocessing Options ###
#############################
R="1.0"
minJetpT="250"
PY_tag="${process}_10k_debug_R${R/./_}_pT${minJetpT}"
dir_datasets="WS_${PY_tag}/datasets"

########################
### Training Options ###
########################
analysis_type="debug"
epochs=10
embed_dim=32
training_tag="_${analysis_type}_${epochs}epoch_${embed_dim}embed"
dir_training="WS_${PY_tag}/training${training_tag}"
